
<h1>All Groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.description %></td>
    <td><%= group.location %></td>
    <td><%= button_to 'Join', { group: group }, memberships_path %></td>
  </tr>
<% end %>

</table>
