
<h1>All Groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Location</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.description %></td>
    <td><%= group.location %></td>
    <% unless current_user.is_member_of(group) %>
      <td><%= button_to 'Join', {controller: :memberships, action: :create, group_id: group.id } %></td>
    <% end %>
  </tr>
<% end %>

</table>
